In [1]:
import findspark
findspark.init()
findspark.find()
import pyspark
import pandas as pd

In [2]:
pd.read_csv('test1.csv')

        name  age
0   Leonardo   24
1    Isamara   20
2      Maria   48
3  Reginaldo   50

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession \
        .builder \
        .appName("Practice") \
        .getOrCreate()

In [5]:
spark

In [13]:
df = spark.read.option("header", "True").csv('test1.csv')

In [14]:
df.show()

+---------+---+
|     name|age|
+---------+---+
| Leonardo| 24|
|  Isamara| 20|
|    Maria| 48|
|Reginaldo| 50|
+---------+---+

In [15]:
type(df)

pyspark.sql.dataframe.DataFrame

In [16]:
df.head()

Row(name='Leonardo', age='24')

In [17]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)