In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
        .builder \
        .appName("DataFrame") \
        .getOrCreate()

In [5]:
df = spark.read \
    .option("header", "True") \
    .option("inferSchema", "True") \
    .csv('test2.csv')
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [6]:
df.columns

['name', 'age', 'experience']

In [11]:
df.select('Age').show()

+---+
|Age|
+---+
| 31|
| 30|
| 29|
+---+

In [13]:
df.select(["Name", "Experience"]).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
+---------+----------+

In [14]:
df.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [15]:
df.describe().show()

+-------+-----+----+-----------------+
|summary| name| age|       experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|30.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [17]:
df = df.withColumn("Age after 5 years", df.age + 5)
df.show()

+---------+---+----------+-----------------+
|     name|age|experience|Age after 5 years|
+---------+---+----------+-----------------+
|    Krish| 31|        10|               36|
|Sudhanshu| 30|         8|               35|
|    Sunny| 29|         4|               34|
+---------+---+----------+-----------------+

In [18]:
df = df.drop("Age after 5 years")
df.show()

+---------+---+----------+
|     name|age|experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [19]:
df = df.withColumnRenamed("experience", "xp")
df.show()

+---------+---+---+
|     name|age| xp|
+---------+---+---+
|    Krish| 31| 10|
|Sudhanshu| 30|  8|
|    Sunny| 29|  4|
+---------+---+---+