In [1]:
from pyspark.sql import SparkSession
spark = SparkSession \
        .builder \
        .appName("DataFrame2") \
        .getOrCreate()

In [2]:
df = spark.read \
    .option("header", "True") \
    .option("inferSchema", "True") \
    .csv('test3.csv')
df.show()

+---------+----+----+------+
|     name| age|  xp|salary|
+---------+----+----+------+
|    Krish|  31|  10| 30000|
|Sudhanshu|  30|   8| 25000|
|    Sunny|  29|   4| 20000|
|     Paul|  24|   3| 20000|
|   Harsha|  21|   1| 15000|
|  Shubham|  23|   2| 18000|
|   Mahesh|null|null| 40000|
|     null|  34|  10| 38000|
|     null|  36|null|  null|
+---------+----+----+------+

In [10]:
#df.na.drop().show()
# df.na.fill(0).show()
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=["age", "xp", "salary"],
    outputCols=["{}_imputed".format(c) for c in ["age", "xp", "salary"]]
    ).setStrategy("mean")

In [11]:
imputer.fit(df).transform(df).show()

+---------+----+----+------+-----------+----------+--------------+
|     name| age|  xp|salary|age_imputed|xp_imputed|salary_imputed|
+---------+----+----+------+-----------+----------+--------------+
|    Krish|  31|  10| 30000|         31|        10|         30000|
|Sudhanshu|  30|   8| 25000|         30|         8|         25000|
|    Sunny|  29|   4| 20000|         29|         4|         20000|
|     Paul|  24|   3| 20000|         24|         3|         20000|
|   Harsha|  21|   1| 15000|         21|         1|         15000|
|  Shubham|  23|   2| 18000|         23|         2|         18000|
|   Mahesh|null|null| 40000|         28|         5|         40000|
|     null|  34|  10| 38000|         34|        10|         38000|
|     null|  36|null|  null|         36|         5|         25750|
+---------+----+----+------+-----------+----------+--------------+