In [2]:
from pyspark.sql import SparkSession
spark = SparkSession \
        .builder \
        .appName("Filter") \
        .getOrCreate()

In [3]:
df = spark.read \
    .option("header", "True") \
    .option("inferSchema", "True") \
    .csv('test4.csv')
df.show()

+---------+---+---+------+
|     name|age| xp|salary|
+---------+---+---+------+
|    Krish| 31| 10| 30000|
|Sudhanshu| 30|  8| 25000|
|    Sunny| 29|  4| 20000|
|     Paul| 24|  3| 20000|
|   Harsha| 21|  1| 15000|
|  Shubham| 23|  2| 18000|
+---------+---+---+------+

In [6]:
df.filter("salary<=20000").show()
#df.filter("salary<=20000").select(["name"]).show()

+-------+---+---+------+
|   name|age| xp|salary|
+-------+---+---+------+
|  Sunny| 29|  4| 20000|
|   Paul| 24|  3| 20000|
| Harsha| 21|  1| 15000|
|Shubham| 23|  2| 18000|
+-------+---+---+------+

In [11]:
df.filter((df.age < 25) & (df.salary < 20000)).show()

+-------+---+---+------+
|   name|age| xp|salary|
+-------+---+---+------+
| Harsha| 21|  1| 15000|
|Shubham| 23|  2| 18000|
+-------+---+---+------+

In [15]:
df.filter(~(df.age < 25)).show() # ~ means 'not' i.e. reverse

+---------+---+---+------+
|     name|age| xp|salary|
+---------+---+---+------+
|    Krish| 31| 10| 30000|
|Sudhanshu| 30|  8| 25000|
|    Sunny| 29|  4| 20000|
+---------+---+---+------+