In [4]:
from pyspark.sql import SparkSession
spark = SparkSession \
        .builder \
        .appName("Groupby") \
        .getOrCreate()

In [5]:
df = spark.read \
    .option("header", "True") \
    .option("inferSchema", "True") \
    .csv('test5.csv')
df.show()

+---------+-------------+-------+
|     name|   department| salary|
+---------+-------------+-------+
|    Krish| Data Science|10000.0|
|    Krish|          IoT| 5000.0|
|   Mahesh|     Big Data| 4000.0|
|    Krish|     Big Data| 4000.0|
|   Mahesh| Data Science| 3000.0|
|Sudhanshu| Data Science|20000.0|
|Sudhanshu|          IoT|10000.0|
|Sudhanshu|     Big Data| 5000.0|
|    Sunny| Data Science|10000.0|
|    Sunny|     Big Data| 2000.0|
+---------+-------------+-------+

In [6]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: double (nullable = true)

In [8]:
df.groupBy('name').sum().show()

+---------+-----------+
|     name|sum(salary)|
+---------+-----------+
|Sudhanshu|    35000.0|
|    Sunny|    12000.0|
|    Krish|    19000.0|
|   Mahesh|     7000.0|
+---------+-----------+

In [14]:
df.groupBy('department').count().show()

+-------------+-----+
|   department|count|
+-------------+-----+
| Data Science|    3|
|     Big Data|    4|
| Data Science|    1|
|          IoT|    2|
+-------------+-----+

In [15]:
df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|    73000.0|
+-----------+